<div class="container">
	<div class="row projects-array">
		<div class="col-lg-4">
			<div class="card mb-3">
				<%= image_tag "meetup.jpg", class: "card-img-top" %>
			  	<div class="card-body">
				    <h5 class="card-title">SaaS Meetup</h5>
				    <p class="card-text">Build a community of SaaS founders around shared values of building better businesses.</p>
				    <p class="card-text"><small class="text-muted">Status - Active</small></p>
				      <p class="card-text"><small class="text-muted">Type - Community</small></p>
				        <p class="card-text"><small class="text-muted">Pillar - Tech</small></p>

			    <%= link_to "Manage", class: "btn btn-primary" %>

			  	</div>
			</div>

		</div>

		<div class="col-lg-4">
			<div class="card mb-3">
				<%= image_tag "perceptr.png", class: "card-img-top" %>
			  	<div class="card-body">
				    <h5 class="card-title">Perceptr</h5>
				    <p class="card-text">UX research based on prosumer EEG neurotechnology. Know what your users are thinking.</p>
				    <p class="card-text"><small class="text-muted">Status - Active</small></p>

			    <%= link_to "Manage", class: "btn btn-primary" %>

			  	</div>
			</div>

		</div>

		<div class="col-lg-4">
			<div class="card mb-3">
				<%= image_tag "perceptr.png", class: "card-img-top" %>
			  	<div class="card-body">
				    <h5 class="card-title">Perceptr</h5>
				    <p class="card-text">UX research based on prosumer EEG neurotechnology. Know what your users are thinking.</p>
				    <p class="card-text"><small class="text-muted">Status - Active</small></p>

			    <%= link_to "Manage", class: "btn btn-primary" %>

			  	</div>
			</div>

		</div>


		<div class="col-lg-4">
		
			    <%= link_to "Add New Project", class: "btn btn-outline-primary" %>	
		</div>

	</div>
</div>

