<%= @projects.each do |project| %>
    <div class="col-lg-4">
      <div class="card mb-3">
        <%= image_tag "meetup.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= project.title %></h5>
            <p class="card-text"><%= project.description %></p>
            <p class="card-text"><small class="text-muted">Status - Active</small></p>
             

          <%= link_to "Manage",  project_path(project), class: "btn btn-primary" %>

          </div>

      </div>

    </div>

<% end %>
 