<% @pillars.each do |pillar| %>

 <div class="col-md-6 col-sm-12 col-lg-4 pillar-column">
		<div class="card bg-dark text-white">
			<img> <%= image_tag "family.png", class: "card-img" %></img >
		  <div class="card-img-overlay">
		    <h5 class="card-title"><%= pillar.name %></h5>
		    <p class="card-text text-sm">Last updated <%= time_ago_in_words(pillar.created_at) %> ago</p>
			</div>
		</div>

		<div>
		  <br>

			<div class="card">
         		<div class="card-body">
    			<%= pillar.vision %>
  				</div>
			</div>

			<br>
			
			<div class="card">
         		<div class="card-body">
    			  <%= pillar.time %>%   |   $<%= pillar.income %>
  				</div>
			</div>

			<br>

			<div class="card">
         		<div class="card-body">
							<h5 class="card-title">Goals</h5>
							<ul class="list-group list-group-flush">
							  <li class="list-group-item">Cras justo odio</li>
							  <li class="list-group-item">Dapibus ac facilisis in</li>
							  <li class="list-group-item">Morbi leo risus</li>
							</ul>
							

    				<a href="#" class="card-link">see more</a>

    			</div>
			</div>
  			</div>
		

			<br>

			<div class="card">
        	<div class="card-body">
    			Projects



	    			<ul class="list-group list-group-flush">
						  <li class="list-group-item justify-content-between align-items-center">Cras justo odio <span class="badge badge-primary badge-pill">14</span></li>
						  <li class="list-group-item justify-content-between align-items-center">Dapibus ac facilisis in <span class="badge badge-primary badge-pill">14</span></li>
						  <li class="list-group-item justify-content-between align-items-center">Morbi leo risus <span class="badge badge-primary badge-pill">14</span></li>
						  <li class="list-group-item justify-content-between align-items-center">Porta ac consectetur ac <span class="badge badge-primary badge-pill">14</span></li>
						  <li class="list-group-item justify-content-between align-items-center">Vestibulum at eros <span class="badge badge-primary badge-pill">14</span></li>
						</ul>
					<a href="#" class="card-link">see more</a>
  				</div>

  				

			</div>

			<br>

			<div class="card">
        <div class="card-body">
    			Skills | Knowledge

    			<ul class="list-group list-group-flush">
					  <li class="list-group-item">Cras justo odio</li>
					  <li class="list-group-item">Dapibus ac facilisis in</li>
					  <li class="list-group-item">Morbi leo risus</li>
					  <li class="list-group-item">Porta ac consectetur ac</li>
					  <li class="list-group-item">Vestibulum at eros</li>
					</ul>

					<a href="#" class="card-link">see more</a>

				</div>

			</div>

			<br>

			<div class="card">
        <div class="card-body">
         		To Do

         		<div class="custom-control custom-checkbox">
	         		<ul class="list-group list-group-flush">

						<div class="form-check custom-checkbox">
							  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							  <label class="form-check-label" for="defaultCheck1">
							    Drink more tea
							  </label>
							</div>

							<div class="form-check custom-checkbox">
							  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							  <label class="form-check-label" for="defaultCheck1">
							    Go Camping
							  </label>
							</div>

							<div class="form-check custom-checkbox">
							  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							  <label class="form-check-label" for="defaultCheck1">
							    Learn to surf
							  </label>
							</div>
						</div>

    		<a href="#" class="card-link">see more</a>

			</div>
		</div>


			<br>

			<div class="card">
         		<div class="card-body">
    			  Books

    			  	<ul class="list-group list-group-flush">
							  <li class="list-group-item">Cras justo odio</li>
							  <li class="list-group-item">Dapibus ac facilisis in</li>
							  <li class="list-group-item">Morbi leo risus</li>
							  <li class="list-group-item">Porta ac consectetur ac</li>
							  <li class="list-group-item">Vestibulum at eros</li>
							</ul>

							<a href="#" class="card-link">see more</a>

							</div>


			</div>
  </div>

 <% end %>
