<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pillar.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pillar.image %>
</p>

<p>
  <strong>Time:</strong>
  <%= @pillar.time %>
</p>

<p>
  <strong>Income:</strong>
  <%= @pillar.income %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @pillar.vision %>
</p>

<p>
  <strong>User:</strong>
  <%= @pillar.user %>
</p>

<%= link_to 'Edit', edit_pillar_path(@pillar) %> |
<%= link_to 'Back', pillars_path %>
