<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Goal date:</strong>
  <%= @goal.goal_date %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @goal.complete %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
